{% extends 'layouts/base-fullscreen.html' %}
{% load static %}

{% block content %}

  <div class="page-header bg-gradient-dark position-relative m-3 border-radius-xl min-vh-50" style="background-image: url('{% static 'assets/img/bg-pricing.jpg' %}');">
    <span class="mask bg-gradient-dark opacity-2"></span>
    <div class="container py-10 postion-relative z-index-2">
      <div class="row">
        <div class="col-md-6 mx-auto text-center">
          <h2 class="text-white">Pick the best plan for you</h2>
          <p class="text-white">You have Free Unlimited Updates and Premium Support on each package.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid px-5 my-6">
    <div class="card mt-n8">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-4 col-md-6 col-7 mx-auto text-center">
            <div class="nav-wrapper mt-5 position-relative z-index-2">
              <ul class="nav nav-pills nav-fill flex-row p-1" id="tabs-pricing" role="tablist">
                <li class="nav-item">
                  <a class="nav-link mb-0 active" id="tabs-iconpricing-tab-1" data-bs-toggle="tab" href="#monthly" role="tab" aria-controls="monthly" aria-selected="true">
                    Monthly
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-0" id="tabs-iconpricing-tab-2" data-bs-toggle="tab" href="#annual" role="tab" aria-controls="annual" aria-selected="false">
                    Annual
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content tab-space">
          <div class="tab-pane active" id="monthly">
            <div class="row">
              <div class="col-lg-4 mb-lg-0 mb-4">
                <div class="card shadow-lg">
                  <span class="badge rounded-pill bg-light text-dark w-30 mt-n2 mx-auto">Starter</span>
                  <div class="card-header text-center pt-4 pb-3">
                    <h1 class="font-weight-bold mt-2">
                      <small class="text-lg align-top me-1">$</small>59<small class="text-lg">/mo</small>
                    </h1>
                  </div>
                  <div class="card-body text-lg-start text-center pt-0">
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto">done</i>
                      <span class="ps-3">2 team members</span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto">done</i>
                      <span class="ps-3">20GB Cloud storage </span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto">done</i>
                      <span class="ps-3">Integration help </span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto">remove</i>
                      <span class="ps-3">Sketch Files </span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto">remove</i>
                      <span class="ps-3">API Access </span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto">remove</i>
                      <span class="ps-3">Complete documentation </span>
                    </div>
                    <a href="javascript:;" class="btn btn-icon bg-gradient-dark d-lg-block mt-3 mb-0">
                      Join
                      <i class="fas fa-arrow-right ms-1"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-lg-0 mb-4">
                <div class="card bg-gradient-dark shadow-lg">
                  <span class="badge rounded-pill bg-primary w-30 mt-n2 mx-auto">Premium</span>
                  <div class="card-header text-center pt-4 pb-3 bg-transparent">
                    <h1 class="font-weight-bold mt-2 text-white">
                      <small class="text-lg align-top me-1">$</small>89<small class="text-lg">/mo</small>
                    </h1>
                  </div>
                  <div class="card-body text-lg-start text-center pt-0">
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto text-white">done</i>
                      <span class="ps-3 text-white">10 team members</span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto text-white">done</i>
                      <span class="ps-3 text-white">40GB Cloud storage </span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto text-white">done</i>
                      <span class="ps-3 text-white">Integration help </span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto text-white">done</i>
                      <span class="ps-3 text-white">Sketch Files </span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto text-white">remove</i>
                      <span class="ps-3 text-white">API Access </span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto text-white">remove</i>
                      <span class="ps-3 text-white">Complete documentation </span>
                    </div>
                    <a href="javascript:;" class="btn btn-icon bg-gradient-primary d-lg-block mt-3 mb-0">
                      Try Premium
                      <i class="fas fa-arrow-right ms-1"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-lg-0 mb-4">
                <div class="card shadow-lg">
                  <span class="badge rounded-pill bg-light text-dark w-30 mt-n2 mx-auto">Enterprise</span>
                  <div class="card-header text-center pt-4 pb-3">
                    <h1 class="font-weight-bold mt-2">
                      <small class="text-lg align-top me-1">$</small>99<small class="text-lg">/mo</small>
                    </h1>
                  </div>
                  <div class="card-body text-lg-start text-center pt-0">
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto">done</i>
                      <span class="ps-3">Unlimited team members</span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto">done</i>
                      <span class="ps-3">100GB Cloud storage </span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto">done</i>
                      <span class="ps-3">Integration help </span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto">done</i>
                      <span class="ps-3">Sketch Files </span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto">done</i>
                      <span class="ps-3">API Access </span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto">done</i>
                      <span class="ps-3">Complete documentation </span>
                    </div>
                    <a href="javascript:;" class="btn btn-icon bg-gradient-dark d-lg-block mt-3 mb-0">
                      Join
                      <i class="fas fa-arrow-right ms-1"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="annual">
            <div class="row">
              <div class="col-lg-4 mb-lg-0 mb-4">
                <div class="card shadow-lg">
                  <span class="badge rounded-pill bg-light text-dark w-30 mx-auto">Starter</span>
                  <div class="card-header text-center pt-4 pb-3">
                    <h1 class="font-weight-bold mt-2">
                      <small class="text-lg align-top me-1">$</small>119<small class="text-lg">/mo</small>
                    </h1>
                  </div>
                  <div class="card-body text-lg-start text-center pt-0">
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto">done</i>
                      <span class="ps-3">2 team members</span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto">done</i>
                      <span class="ps-3">20GB Cloud storage </span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto">remove</i>
                      <span class="ps-3">Integration help </span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto">remove</i>
                      <span class="ps-3">Sketch Files </span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto">remove</i>
                      <span class="ps-3">API Access </span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto">remove</i>
                      <span class="ps-3">Complete documentation </span>
                    </div>
                    <a href="javascript:;" class="btn btn-icon bg-gradient-dark d-lg-block mt-3 mb-0">
                      Join
                      <i class="fas fa-arrow-right ms-1"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-lg-0 mb-4">
                <div class="card bg-gradient-dark shadow-lg">
                  <span class="badge rounded-pill bg-primary w-30 mx-auto">Premium</span>
                  <div class="card-header text-center pt-4 pb-3 bg-transparent">
                    <h1 class="font-weight-bold mt-2 text-white">
                      <small class="text-lg align-top me-1">$</small>159<small class="text-lg">/mo</small>
                    </h1>
                  </div>
                  <div class="card-body text-lg-start text-center pt-0">
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto text-white">done</i>
                      <span class="ps-3 text-white">10 team members</span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto text-white">done</i>
                      <span class="ps-3 text-white">40GB Cloud storage </span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto text-white">done</i>
                      <span class="ps-3 text-white">Integration help </span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto text-white">done</i>
                      <span class="ps-3 text-white">Sketch Files </span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto text-white">remove</i>
                      <span class="ps-3 text-white">API Access </span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto text-white">remove</i>
                      <span class="ps-3 text-white">Complete documentation </span>
                    </div>
                    <a href="javascript:;" class="btn btn-icon bg-gradient-primary d-lg-block mt-3 mb-0">
                      Try Premium
                      <i class="fas fa-arrow-right ms-1"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-lg-0 mb-4">
                <div class="card shadow-lg">
                  <span class="badge rounded-pill bg-light text-dark w-30 mx-auto">Enterprise</span>
                  <div class="card-header text-center pt-4 pb-3">
                    <h1 class="font-weight-bold mt-2">
                      <small class="text-lg align-top me-1">$</small>399<small class="text-lg">/mo</small>
                    </h1>
                  </div>
                  <div class="card-body text-lg-start text-center pt-0">
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto">done</i>
                      <span class="ps-3">Unlimited team members</span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto">done</i>
                      <span class="ps-3">100GB Cloud storage </span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto">done</i>
                      <span class="ps-3">Integration help </span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto">done</i>
                      <span class="ps-3">Sketch Files </span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto">done</i>
                      <span class="ps-3">API Access </span>
                    </div>
                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                      <i class="material-icons my-auto">done</i>
                      <span class="ps-3">Complete documentation </span>
                    </div>
                    <a href="javascript:;" class="btn btn-icon bg-gradient-dark d-lg-block mt-3 mb-0">
                      Join
                      <i class="fas fa-arrow-right ms-1"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-8 mx-auto text-center">
          <h6 class="opacity-5"> More than 50+ brands trust Material</h6>
        </div>
      </div>
      <div class="row mt-4 mx-5">
        <div class="col-lg-2 col-md-4 col-6 mb-4">
          <img class="w-100 opacity-9" src="{% static 'assets/img/logos/gray-logos/logo-coinbase.svg' %}" alt="logo_coinbase">
        </div>
        <div class="col-lg-2 col-md-4 col-6 mb-4">
          <img class="w-100 opacity-9" src="{% static 'assets/img/logos/gray-logos/logo-nasa.svg' %}" alt="logo_nasa">
        </div>
        <div class="col-lg-2 col-md-4 col-6 mb-4">
          <img class="w-100 opacity-9" src="{% static 'assets/img/logos/gray-logos/logo-netflix.svg' %}" alt="logo_netflix">
        </div>
        <div class="col-lg-2 col-md-4 col-6 mb-4">
          <img class="w-100 opacity-9" src="{% static 'assets/img/logos/gray-logos/logo-pinterest.svg' %}" alt="logo_pinterest">
        </div>
        <div class="col-lg-2 col-md-4 col-6 mb-4">
          <img class="w-100 opacity-9" src="{% static 'assets/img/logos/gray-logos/logo-spotify.svg' %}" alt="logo_spotify">
        </div>
        <div class="col-lg-2 col-md-4 col-6 mb-4">
          <img class="w-100 opacity-9" src="{% static 'assets/img/logos/gray-logos/logo-vodafone.svg' %}" alt="logo_vodafone">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6 mx-auto text-center">
          <h2>Frequently Asked Questions</h2>
          <p>A lot of people don&#39;t appreciate the moment until it’s passed. I&#39;m not trying my hardest, and I&#39;m not trying to do </p>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-8 mx-auto">
          <div class="accordion" id="accordionRental">
            <div class="accordion-item my-2">
              <h5 class="accordion-header" id="headingOne">
                <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  How do I order?
                  <i class="collapse-close material-icons text-sm font-weight-bold pt-1 position-absolute end-0">add</i>
                  <i class="collapse-open material-icons text-sm font-weight-bold pt-1 position-absolute end-0">remove</i>
                </button>
              </h5>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionRental">
                <div class="accordion-body text-sm opacity-8">
                  We’re not always in the position that we want to be at. We’re constantly growing. We’re constantly making mistakes. We’re constantly trying to express ourselves and actualize our dreams. If you have the opportunity to play this game
                  of life you need to appreciate every moment. A lot of people don’t appreciate the moment until it’s passed.
                </div>
              </div>
            </div>
            <div class="accordion-item my-2">
              <h5 class="accordion-header" id="headingTwo">
                <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  How can i make the payment?
                  <i class="collapse-close material-icons text-sm font-weight-bold pt-1 position-absolute end-0">add</i>
                  <i class="collapse-open material-icons text-sm font-weight-bold pt-1 position-absolute end-0">remove</i>
                </button>
              </h5>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionRental">
                <div class="accordion-body text-sm opacity-8">
                  It really matters and then like it really doesn’t matter. What matters is the people who are sparked by it. And the people who are like offended by it, it doesn’t matter. Because it&#39;s about motivating the doers. Because I’m here to follow my dreams and inspire other people to follow their dreams, too.
                  <br>
                  We’re not always in the position that we want to be at. We’re constantly growing. We’re constantly making mistakes. We’re constantly trying to express ourselves and actualize our dreams. If you have the opportunity to play this game of life you need to appreciate every moment. A lot of people don’t appreciate the moment until it’s passed.
                </div>
              </div>
            </div>
            <div class="accordion-item my-2">
              <h5 class="accordion-header" id="headingThree">
                <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  How much time does it take to receive the order?
                  <i class="collapse-close material-icons text-sm font-weight-bold pt-1 position-absolute end-0">add</i>
                  <i class="collapse-open material-icons text-sm font-weight-bold pt-1 position-absolute end-0">remove</i>
                </button>
              </h5>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionRental">
                <div class="accordion-body text-sm opacity-8">
                  The time is now for it to be okay to be great. People in this world shun people for being great. For being a bright color. For standing out. But the time is now to be okay to be the greatest you. Would you believe in what you believe in, if you were the only one who believed it?
                  If everything I did failed - which it doesn&#39;t, it actually succeeds - just the fact that I&#39;m willing to fail is an inspiration. People are so scared to lose that they don&#39;t even try. Like, one thing people can&#39;t say is that I&#39;m not trying, and I&#39;m not trying my hardest, and I&#39;m not trying to do the best way I know how.
                </div>
              </div>
            </div>
            <div class="accordion-item my-2">
              <h5 class="accordion-header" id="headingFour">
                <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Can I resell the products?
                  <i class="collapse-close material-icons text-sm font-weight-bold pt-1 position-absolute end-0">add</i>
                  <i class="collapse-open material-icons text-sm font-weight-bold pt-1 position-absolute end-0">remove</i>
                </button>
              </h5>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionRental">
                <div class="accordion-body text-sm opacity-8">
                  I always felt like I could do anything. That’s the main thing people are controlled by! Thoughts- their perception of themselves! They&#39;re slowed down by their perception of themselves. If you&#39;re taught you can’t do anything, you won’t do anything. I was taught I could do everything.
                  <br><br>
                  If everything I did failed - which it doesn&#39;t, it actually succeeds - just the fact that I&#39;m willing to fail is an inspiration. People are so scared to lose that they don&#39;t even try. Like, one thing people can&#39;t say is that I&#39;m not trying, and I&#39;m not trying my hardest, and I&#39;m not trying to do the best way I know how.
                </div>
              </div>
            </div>
            <div class="accordion-item my-2">
              <h5 class="accordion-header" id="headingFifth">
                <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifth" aria-expanded="false" aria-controls="collapseFifth">
                  Where do I find the shipping details?
                  <i class="collapse-close material-icons text-sm font-weight-bold pt-1 position-absolute end-0">add</i>
                  <i class="collapse-open material-icons text-sm font-weight-bold pt-1 position-absolute end-0">remove</i>
                </button>
              </h5>
              <div id="collapseFifth" class="accordion-collapse collapse" aria-labelledby="headingFifth" data-bs-parent="#accordionRental">
                <div class="accordion-body text-sm opacity-8">
                  There’s nothing I really wanted to do in life that I wasn’t able to get good at. That’s my skill. I’m not really specifically talented at anything except for the ability to learn. That’s what I do. That’s what I’m here for. Don’t be afraid to be wrong because you can’t learn anything from a compliment.
                  I always felt like I could do anything. That’s the main thing people are controlled by! Thoughts- their perception of themselves! They&#39;re slowed down by their perception of themselves. If you&#39;re taught you can’t do anything, you won’t do anything. I was taught I could do everything.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block footer %}

  {% include 'includes/footer-fullscreen.html' %}

{% endblock footer %}


{% block extra_js %}

  <script src="{% static 'assets/js/plugins/parallax.min.js' %}"></script>
  <script>
    if (document.getElementsByClassName('page-header')) {
      window.onscroll = debounce(function() {
        var scrollPosition = window.pageYOffset;
        var bgParallax = document.querySelector('.page-header');
        var oVal = (window.scrollY / 3);
        bgParallax.style.transform = 'translate3d(0,' + oVal + 'px,0)';
      }, 6);
    }
  </script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

{% endblock extra_js %}