{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg position-sticky mt-4 top-1 px-0 mx-4 shadow-none border-radius-xl z-index-sticky" id="navbarBlur" data-scroll="true">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 ">
        <li class="breadcrumb-item text-sm ps-2"><a class="opacity-5 text-dark" href="javascript:;">لوحات القيادة</a></li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">RTL</li>
      </ol>
      <h6 class="font-weight-bolder mb-0">RTL</h6>
    </nav>
    <div class="sidenav-toggler sidenav-toggler-inner d-xl-block d-none me-3">
      <a href="javascript:;" class="nav-link text-body p-0">
        <div class="sidenav-toggler-inner">
          <i class="sidenav-toggler-line"></i>
          <i class="sidenav-toggler-line"></i>
          <i class="sidenav-toggler-line"></i>
        </div>
      </a>
    </div>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 px-0" id="navbar">
      <div class="me-md-auto pe-md-3 d-flex align-items-center">
        <div class="input-group input-group-outline">
          <label class="form-label">ابحث هنا</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <ul class="navbar-nav ms-0 justify-content-end">
        <li class="nav-item">
          <a href="{% url 'illustration_login' %}" class="nav-link text-body p-0 position-relative" target="_blank">
            <i class="material-icons ms-sm-1 ">
          account_circle
        </i>
          </a>
        </li>
        <li class="nav-item d-xl-none pe-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </a>
        </li>
        <li class="nav-item px-3">
          <a href="javascript:;" class="nav-link text-body p-0">
            <i class="material-icons fixed-plugin-button-nav cursor-pointer">
          settings
        </i>
          </a>
        </li>
        <li class="nav-item dropdown ps-2">
          <a href="javascript:;" class="nav-link text-body p-0 position-relative" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="material-icons cursor-pointer">
          notifications
        </i>
            <span class="position-absolute top-5 start-100 translate-middle badge rounded-pill bg-danger border border-white small py-1 px-2">
              <span class="small">11</span>
              <span class="visually-hidden">unread notifications</span>
            </span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end p-2 me-sm-n4" aria-labelledby="dropdownMenuButton">
            <li class="mb-2">
              <a class="dropdown-item border-radius-md" href="javascript:;">
                <div class="d-flex align-items-center py-1">
                  <span class="material-icons">email</span>
                  <div class="ms-2">
                    <h6 class="text-sm font-weight-normal my-auto">
                      Check new messages
                    </h6>
                  </div>
                </div>
              </a>
            </li>
            <li class="mb-2">
              <a class="dropdown-item border-radius-md" href="javascript:;">
                <div class="d-flex align-items-center py-1">
                  <span class="material-icons">podcasts</span>
                  <div class="ms-2">
                    <h6 class="text-sm font-weight-normal my-auto">
                      Manage podcast session
                    </h6>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a class="dropdown-item border-radius-md" href="javascript:;">
                <div class="d-flex align-items-center py-1">
                  <span class="material-icons">shopping_cart</span>
                  <div class="ms-2">
                    <h6 class="text-sm font-weight-normal my-auto">
                      Payment successfully completed
                    </h6>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->