{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12 mb-4">
            <div class="card">
              <div class="card-header p-3 py-2">
                <div class="icon icon-lg icon-shape bg-gradient-info shadow text-center border-radius-xl mt-n4 position-absolute">
                  <i class="material-icons text-white opacity-10">
      account_circle
    </i>
                </div>
                <div class="text-end pt-1">
                  <p class="text-sm mb-0 text-capitalize">Users Active</p>
                  <h4 class="mb-0">1,600</h4>
                </div>
              </div>
              <hr class="dark horizontal my-0">
              <div class="card-footer p-3">
                <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+55% </span>than lask week</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12 mb-4">
            <div class="card">
              <div class="card-header p-3 py-2">
                <div class="icon icon-lg icon-shape bg-gradient-info shadow text-center border-radius-xl mt-n4 position-absolute">
                  <i class="material-icons text-white opacity-10">
      pan_tool
    </i>
                </div>
                <div class="text-end pt-1">
                  <p class="text-sm mb-0 text-capitalize">Click Events</p>
                  <h4 class="mb-0">357</h4>
                </div>
              </div>
              <hr class="dark horizontal my-0">
              <div class="card-footer p-3">
                <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+124% </span>than lask week</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-lg-6 col-md-6 col-12">
            <div class="card">
              <div class="card-header p-3 py-2">
                <div class="icon icon-lg icon-shape bg-gradient-info shadow text-center border-radius-xl mt-n4 position-absolute">
                  <i class="material-icons text-white opacity-10">
      shopping_basket
    </i>
                </div>
                <div class="text-end pt-1">
                  <p class="text-sm mb-0 text-capitalize">Purchases</p>
                  <h4 class="mb-0">2,300</h4>
                </div>
              </div>
              <hr class="dark horizontal my-0">
              <div class="card-footer p-3">
                <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+15% </span>than lask week</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12 mt-4 mt-md-0">
            <div class="card">
              <div class="card-header p-3 py-2">
                <div class="icon icon-lg icon-shape bg-gradient-info shadow text-center border-radius-xl mt-n4 position-absolute">
                  <i class="material-icons text-white opacity-10">
      thumb_up
    </i>
                </div>
                <div class="text-end pt-1">
                  <p class="text-sm mb-0 text-capitalize">Likes</p>
                  <h4 class="mb-0">940</h4>
                </div>
              </div>
              <hr class="dark horizontal my-0">
              <div class="card-footer p-3">
                <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+90% </span>than lask week</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12 mt-4 mt-lg-0">
        <div class="card h-100">
          <div class="card-header pb-0 p-3">
            <h6 class="mb-0">Reviews</h6>
          </div>
          <div class="card-body pb-0 p-3">
            <ul class="list-group">
              <li class="list-group-item border-0 d-flex align-items-center px-0 mb-0">
                <div class="w-100">
                  <div class="d-flex mb-2">
                    <span class="me-2 text-sm text-capitalize">Positive reviews</span>
                    <span class="ms-auto text-sm">80%</span>
                  </div>
                  <div>
                    <div class="progress progress-md">
                      <div class="progress-bar bg-gradient-info w-80" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                <div class="w-100">
                  <div class="d-flex mb-2">
                    <span class="me-2 text-sm text-capitalize">Neutral reviews</span>
                    <span class="ms-auto text-sm">17%</span>
                  </div>
                  <div>
                    <div class="progress progress-md">
                      <div class="progress-bar bg-gradient-dark w-10" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                <div class="w-100">
                  <div class="d-flex mb-2">
                    <span class="me-2 text-sm text-capitalize">Negative reviews</span>
                    <span class="ms-auto text-sm">3%</span>
                  </div>
                  <div>
                    <div class="progress progress-md">
                      <div class="progress-bar bg-gradient-danger w-5" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="card-footer pt-0 p-3 d-flex align-items-center">
            <div class="w-60">
              <p class="text-sm mb-0">
                More than <b>1,500,000</b> developers used Creative Tim's products and over <b>700,000</b> projects were created.
              </p>
            </div>
            <div class="w-40 text-end">
              <a class="btn bg-gradient-dark mb-0" href="javascript:;">View all reviews</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-12">
        <div class="card">
          <div class="table-responsive">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Name</th>
                  <th class="text-uppercase text-xxs font-weight-bolder opacity-7 ps-2">Function</th>
                  <th class="text-uppercase text-xxs font-weight-bolder opacity-7 ps-2">Review</th>
                  <th class="text-center text-uppercase text-xxs font-weight-bolder opacity-7">Email</th>
                  <th class="text-center text-uppercase text-xxs font-weight-bolder opacity-7">Employed</th>
                  <th class="text-center text-uppercase text-xxs font-weight-bolder opacity-7">Id</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="{% static 'assets/img/team-2.jpg' %}" class="avatar avatar-sm me-3" alt="avatar image">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 font-weight-normal text-sm">John Michael</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-sm font-weight-normal mb-0">Manager</p>
                  </td>
                  <td>
                    <span class="badge badge-dot me-4">
                      <i class="bg-info"></i>
                      <span class="text-dark text-xs">positive</span>
                    </span>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <p class="mb-0 font-weight-normal text-sm">john@user.com</p>
                  </td>
                  <td class="align-middle text-center">
                    <p class="text-sm font-weight-normal mb-0">23/04/18</p>
                  </td>
                  <td class="align-middle text-center">
                    <p class="text-sm font-weight-normal mb-0">43431</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="{% static 'assets/img/team-3.jpg' %}" class="avatar avatar-sm me-3" alt="avatar image">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 font-weight-normal text-sm">Alexa Liras</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-sm font-weight-normal mb-0">Programator</p>
                  </td>
                  <td>
                    <span class="badge badge-dot me-4">
                      <i class="bg-info"></i>
                      <span class="text-dark text-xs">positive</span>
                    </span>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <p class="mb-0 font-weight-normal text-sm">alexa@user.com</p>
                  </td>
                  <td class="align-middle text-center">
                    <p class="text-sm font-weight-normal mb-0">11/01/19</p>
                  </td>
                  <td class="align-middle text-center">
                    <p class="text-sm font-weight-normal mb-0">93021</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="{% static 'assets/img/team-4.jpg' %}" class="avatar avatar-sm me-3" alt="avatar image">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 font-weight-normal text-sm">Laurent Perrier</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-sm font-weight-normal mb-0">Executive</p>
                  </td>
                  <td>
                    <span class="badge badge-dot me-4">
                      <i class="bg-dark"></i>
                      <span class="text-dark text-xs">neutral</span>
                    </span>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <p class="mb-0 font-weight-normal text-sm">laurent@user.com</p>
                  </td>
                  <td class="align-middle text-center">
                    <p class="text-sm font-weight-normal mb-0">19/09/17</p>
                  </td>
                  <td class="align-middle text-center">
                    <p class="text-sm font-weight-normal mb-0">10392</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="{% static 'assets/img/team-3.jpg' %}" class="avatar avatar-sm me-3" alt="avatar image">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 font-weight-normal text-sm">Michael Levi</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-sm font-weight-normal mb-0">Backend developer</p>
                  </td>
                  <td>
                    <span class="badge badge-dot me-4">
                      <i class="bg-info"></i>
                      <span class="text-dark text-xs">positive</span>
                    </span>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <p class="mb-0 font-weight-normal text-sm">michael@user.com</p>
                  </td>
                  <td class="align-middle text-center">
                    <p class="text-sm font-weight-normal mb-0">24/12/08</p>
                  </td>
                  <td class="align-middle text-center">
                    <p class="text-sm font-weight-normal mb-0">34002</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="{% static 'assets/img/team-2.jpg' %}" class="avatar avatar-sm me-3" alt="avatar image">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 font-weight-normal text-sm">Richard Gran</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-sm font-weight-normal mb-0">Manager</p>
                  </td>
                  <td>
                    <span class="badge badge-dot me-4">
                      <i class="bg-danger"></i>
                      <span class="text-dark text-xs">negative</span>
                    </span>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <p class="mb-0 font-weight-normal text-sm">richard@user.com</p>
                  </td>
                  <td class="align-middle text-center">
                    <p class="text-sm font-weight-normal mb-0">04/10/21</p>
                  </td>
                  <td class="align-middle text-center">
                    <p class="text-sm font-weight-normal mb-0">91879</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="{% static 'assets/img/team-4.jpg' %}" class="avatar avatar-sm me-3" alt="avatar image">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 font-weight-normal text-sm">Miriam Eric</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-sm font-weight-normal mb-0">Programtor</p>
                  </td>
                  <td>
                    <span class="badge badge-dot me-4">
                      <i class="bg-info"></i>
                      <span class="text-dark text-xs">positive</span>
                    </span>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <p class="mb-0 font-weight-normal text-sm">miriam@user.com</p>
                  </td>
                  <td class="align-middle text-center">
                    <p class="text-sm font-weight-normal mb-0">14/09/20</p>
                  </td>
                  <td class="align-middle text-center">
                    <p class="text-sm font-weight-normal mb-0">23042</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

{% block extra_js %}
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
{% endblock extra_js %}