{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

  <div class="container-fluid px-2 px-md-4">
    <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
      <span class="mask bg-gradient-primary opacity-6"></span>
    </div>
    <div class="card card-body mx-3 mx-md-4 mt-n6">
      <div class="row gx-4">
        <div class="col-auto">
          <div class="avatar avatar-xl position-relative">
            <img src="{% static 'assets/img/bruce-mars.jpg' %}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
          </div>
        </div>
        <div class="col-auto my-auto">
          <div class="h-100">
            <h5 class="mb-1">
              Charles Smith
            </h5>
            <p class="mb-0 font-weight-normal text-sm">
              CEO / Co-Founder
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
          <div class="nav-wrapper position-relative end-0">
            <ul class="nav nav-pills nav-fill p-1" role="tablist">
              <li class="nav-item">
                <a class="nav-link mb-0 px-0 py-1 active " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="true">
                  <i class="material-icons text-lg position-relative">home</i>
                  <span class="ms-1">App</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                  <i class="material-icons text-lg position-relative">email</i>
                  <span class="ms-1">Messages</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                  <i class="material-icons text-lg position-relative">settings</i>
                  <span class="ms-1">Settings</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid py-4">
    <section class="py-3">
      <div class="row mb-4 mb-md-0">
        <div class="col-md-8 me-auto my-auto text-left">
          <h5>Some of Our Awesome Projects</h5>
          <p>This is the paragraph where you can write more details about your projects. Keep you user engaged by <br> providing meaningful information.</p>
        </div>
        <div class="col-lg-4 col-md-12 my-auto text-end">
          <button type="button" class="btn bg-gradient-primary mb-0 mt-0 mt-md-n9 mt-lg-0">
            <i class="material-icons text-white position-relative text-md pe-2">add</i>Add New
          </button>
        </div>
      </div>
      <div class="row mt-lg-4 mt-2">
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="d-flex mt-n2">
                <div class="avatar avatar-xl bg-gradient-dark border-radius-xl p-2 mt-n4">
                  <img src="{% static 'assets/img/small-logos/logo-slack.svg' %}" alt="slack_logo">
                </div>
                <div class="ms-3 my-auto">
                  <h6 class="mb-0">Slack Bot</h6>
                  <div class="avatar-group">
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Jessica Rowland">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-3.jpg' %}" class="">
                    </a>
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Audrey Love">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-4.jpg' %}" class="rounded-circle">
                    </a>
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Michael Lewis">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-2.jpg' %}" class="rounded-circle">
                    </a>
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Jessica Rowland">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-3.jpg' %}" class="">
                    </a>
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Audrey Love">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-4.jpg' %}" class="rounded-circle">
                    </a>
                  </div>
                </div>
                <div class="ms-auto">
                  <div class="dropdown">
                    <button class="btn btn-link text-secondary ps-0 pe-2" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-lg"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="javascript:;">Action</a>
                      <a class="dropdown-item" href="javascript:;">Another action</a>
                      <a class="dropdown-item" href="javascript:;">Something else here</a>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-sm mt-3"> If everything I did failed - which it doesn&#39;t, I think that it actually succeeds. </p>
              <hr class="horizontal dark">
              <div class="row">
                <div class="col-6">
                  <h6 class="text-sm mb-0">5</h6>
                  <p class="text-secondary text-sm font-weight-normal mb-0">Participants</p>
                </div>
                <div class="col-6 text-end">
                  <h6 class="text-sm mb-0">02.03.22</h6>
                  <p class="text-secondary text-sm font-weight-normal mb-0">Due date</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mt-2 mt-md-0">
          <div class="card">
            <div class="card-body p-3">
              <div class="d-flex mt-n2">
                <div class="avatar avatar-xl bg-gradient-dark border-radius-xl p-2 mt-n4">
                  <img src="{% static 'assets/img/small-logos/logo-spotify.svg' %}" alt="spotify_logo">
                </div>
                <div class="ms-3 my-auto">
                  <h6 class="mb-0">Premium support</h6>
                  <div class="avatar-group">
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Audrey Love">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-4.jpg' %}" class="rounded-circle">
                    </a>
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Jessica Rowland">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-3.jpg' %}" class="">
                    </a>
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Michael Lewis">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-2.jpg' %}" class="rounded-circle">
                    </a>
                  </div>
                </div>
                <div class="ms-auto">
                  <div class="dropdown">
                    <button class="btn btn-link text-secondary ps-0 pe-2" id="navbarDropdownMenuLink1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-lg"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="navbarDropdownMenuLink1">
                      <a class="dropdown-item" href="javascript:;">Action</a>
                      <a class="dropdown-item" href="javascript:;">Another action</a>
                      <a class="dropdown-item" href="javascript:;">Something else here</a>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-sm mt-3"> Pink is obviously a better color. Everyone’s born confident, and everything’s taken away from you. </p>
              <hr class="horizontal dark">
              <div class="row">
                <div class="col-6">
                  <h6 class="text-sm mb-0">3</h6>
                  <p class="text-secondary text-sm font-weight-normal mb-0">Participants</p>
                </div>
                <div class="col-6 text-end">
                  <h6 class="text-sm mb-0">22.11.21</h6>
                  <p class="text-secondary text-sm font-weight-normal mb-0">Due date</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mt-2">
          <div class="card">
            <div class="card-body p-3">
              <div class="d-flex mt-n2">
                <div class="avatar avatar-xl bg-gradient-dark border-radius-xl p-2 mt-n4">
                  <img src="{% static 'assets/img/small-logos/logo-xd.svg' %}" alt="xd_logo">
                </div>
                <div class="ms-3 my-auto">
                  <h6 class="mb-0">Design tools</h6>
                  <div class="avatar-group">
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Audrey Love">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-4.jpg' %}" class="rounded-circle">
                    </a>
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Michael Lewis">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-2.jpg' %}" class="rounded-circle">
                    </a>
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Jessica Rowland">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-3.jpg' %}" class="">
                    </a>
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Jessica Rowland">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-4.jpg' %}" class="">
                    </a>
                  </div>
                </div>
                <div class="ms-auto">
                  <div class="dropdown">
                    <button class="btn btn-link text-secondary ps-0 pe-2" id="navbarDropdownMenuLink2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-lg"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="navbarDropdownMenuLink2">
                      <a class="dropdown-item" href="javascript:;">Action</a>
                      <a class="dropdown-item" href="javascript:;">Another action</a>
                      <a class="dropdown-item" href="javascript:;">Something else here</a>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-sm mt-3"> Constantly growing. We’re constantly making mistakes from which we learn and improve. </p>
              <hr class="horizontal dark">
              <div class="row">
                <div class="col-6">
                  <h6 class="text-sm mb-0">4</h6>
                  <p class="text-secondary text-sm mb-0">Participants</p>
                </div>
                <div class="col-6 text-end">
                  <h6 class="text-sm mb-0">06.03.20</h6>
                  <p class="text-secondary text-sm mb-0">Due date</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mt-2">
          <div class="card">
            <div class="card-body p-3">
              <div class="d-flex mt-n2">
                <div class="avatar avatar-xl bg-gradient-dark border-radius-xl p-2 mt-n4">
                  <img src="{% static 'assets/img/small-logos/logo-asana.svg' %}" alt="asana_logo">
                </div>
                <div class="ms-3 my-auto">
                  <h6 class="mb-0">Looking great</h6>
                  <div class="avatar-group">
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Jessica Rowland">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-3.jpg' %}" class="">
                    </a>
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Audrey Love">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-4.jpg' %}" class="rounded-circle">
                    </a>
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Michael Lewis">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-2.jpg' %}" class="rounded-circle">
                    </a>
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Jessica Rowland">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-3.jpg' %}" class="">
                    </a>
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Audrey Love">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-4.jpg' %}" class="rounded-circle">
                    </a>
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Michael Lewis">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-2.jpg' %}" class="rounded-circle">
                    </a>
                  </div>
                </div>
                <div class="ms-auto">
                  <div class="dropdown">
                    <button class="btn btn-link text-secondary ps-0 pe-2" id="navbarDropdownMenuLink3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-lg"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="navbarDropdownMenuLink3">
                      <a class="dropdown-item" href="javascript:;">Action</a>
                      <a class="dropdown-item" href="javascript:;">Another action</a>
                      <a class="dropdown-item" href="javascript:;">Something else here</a>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-sm mt-3"> You have the opportunity to play this game of life you need to appreciate every moment. </p>
              <hr class="horizontal dark">
              <div class="row">
                <div class="col-6">
                  <h6 class="text-sm mb-0">6</h6>
                  <p class="text-secondary text-sm font-weight-normal mb-0">Participants</p>
                </div>
                <div class="col-6 text-end">
                  <h6 class="text-sm mb-0">14.03.24</h6>
                  <p class="text-secondary text-sm font-weight-normal mb-0">Due date</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mt-2">
          <div class="card">
            <div class="card-body p-3">
              <div class="d-flex mt-n2">
                <div class="avatar avatar-xl bg-gradient-dark border-radius-xl p-2 mt-n4">
                  <img src="{% static 'assets/img/small-logos/logo-invision.svg' %}" alt="invision_logo">
                </div>
                <div class="ms-3 my-auto">
                  <h6 class="mb-0">Developer First</h6>
                  <div class="avatar-group">
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Audrey Love">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-4.jpg' %}" class="rounded-circle">
                    </a>
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Jessica Rowland">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-3.jpg' %}" class="">
                    </a>
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Michael Lewis">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-2.jpg' %}" class="rounded-circle">
                    </a>
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Audrey Love">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-4.jpg' %}" class="rounded-circle">
                    </a>
                  </div>
                </div>
                <div class="ms-auto">
                  <div class="dropdown">
                    <button class="btn btn-link text-secondary ps-0 pe-2" id="navbarDropdownMenuLink4" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-lg"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="navbarDropdownMenuLink4">
                      <a class="dropdown-item" href="javascript:;">Action</a>
                      <a class="dropdown-item" href="javascript:;">Another action</a>
                      <a class="dropdown-item" href="javascript:;">Something else here</a>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-sm mt-3"> For standing out. But the time is now to be okay to be the greatest you. </p>
              <hr class="horizontal dark">
              <div class="row">
                <div class="col-6">
                  <h6 class="text-sm mb-0">4</h6>
                  <p class="text-secondary text-sm font-weight-normal mb-0">Participants</p>
                </div>
                <div class="col-6 text-end">
                  <h6 class="text-sm mb-0">16.01.22</h6>
                  <p class="text-secondary text-sm font-weight-normal mb-0">Due date</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mt-2">
          <div class="card">
            <div class="card-body p-3">
              <div class="d-flex mt-n2">
                <div class="avatar avatar-xl bg-gradient-dark border-radius-xl p-2 mt-n4">
                  <img src="{% static 'assets/img/small-logos/logo-atlassian.svg' %}" alt="atlassian_logo">
                </div>
                <div class="ms-3 my-auto">
                  <h6 class="mb-0">Product Development</h6>
                  <div class="avatar-group">
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Audrey Love">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-4.jpg' %}" class="rounded-circle">
                    </a>
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Jessica Rowland">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-3.jpg' %}" class="">
                    </a>
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Michael Lewis">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-2.jpg' %}" class="rounded-circle">
                    </a>
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-original-title="Audrey Love">
                      <img alt="Image placeholder" src="{% static 'assets/img/team-4.jpg' %}" class="rounded-circle">
                    </a>
                  </div>
                </div>
                <div class="ms-auto">
                  <div class="dropdown">
                    <button class="btn btn-link text-secondary ps-0 pe-2" id="navbarDropdownMenuLink4" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-lg"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="navbarDropdownMenuLink4">
                      <a class="dropdown-item" href="javascript:;">Action</a>
                      <a class="dropdown-item" href="javascript:;">Another action</a>
                      <a class="dropdown-item" href="javascript:;">Something else here</a>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-sm mt-3"> We strive to embrace and drive change in our industry. We are happy to work at such a project. </p>
              <hr class="horizontal dark">
              <div class="row">
                <div class="col-6">
                  <h6 class="text-sm mb-0">4</h6>
                  <p class="text-secondary text-sm font-weight-normal mb-0">Participants</p>
                </div>
                <div class="col-6 text-end">
                  <h6 class="text-sm mb-0">16.01.22</h6>
                  <p class="text-secondary text-sm font-weight-normal mb-0">Due date</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

{% block extra_js %}
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
{% endblock extra_js %}